@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-bd), var(--font-title), system-ui, sans-serif;
}
.react-datepicker {
  background-color: #1e2329 !important;
  border-color: #2b3139 !important;
}

.react-datepicker__header {
  background-color: #1e2329 !important;
  border-bottom-color: #2b3139 !important;
}

.react-datepicker__day {
  color: #eaecef !important;
}

.react-datepicker__day:hover {
  background-color: #ffc53d !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #ffc53d !important;
  color: #eaecef !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #eaecef !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: rgba(43, 49, 57, 0.5) !important;
}

.react-datepicker__day--disabled {
  color: #474d57 !important;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress {
  animation: progress 2s linear infinite;
}
